* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-color: black;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "Miama";
  src: url(../styles/Miama.woff) format("woff");
  src: url(../styles/Miama.woff2) format("woff2");
  src: url(../styles/Miama.otf) format("otf");
  src: url(../styles/Miama.ttf) format("truetype");
}

/* Shared Styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.miama-font {
  font-family: "Miama";
  font-weight: 300;
  font-style: italic;
  font-size: 8rem;
  line-height: 50%;
}
.text-white {
  color: #ffffff;
}
.text-center {
  text-align: center;
}
.primary-info {
  font-size: 0.875rem;
  line-height: 1.5rem;
  word-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 7px;
}
.section-title {
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
}
.primary-btn {
  padding: 16px 40px;
  border-radius: 42px;
  background-color: #e6533c;
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.display-flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}

.nav-bar,
.hero,
.habit-section,
.extra-mile-section,
.trainings-section,
.calculator-container,
.cal-sec-title-box
 {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

/* Nav-bar styels */
header {
  background: linear-gradient(to top, #77777700, #111111);
  padding-top: 50px;
}
.nav-bar {
  align-items: center;
  justify-content: space-between;
}
.nav-items {
  align-items: center;
  gap: 47px;
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px 16px 4px 4px;
}
.nav-logo {
  color: #e6533c;
  font-size: 2.25rem;
  font-weight: 900;
}
.nav-item,
.hamburger-menu {
  color: #ffffff;
}
.nav-item .primary-btn {
  padding: 8px 20px;
}
.hamburger-menu {
  display: none;
  font-size: 1.5rem;
}

/* Hero section  */
.hero-btn-1::before {
  content: "Join Club Now!";
}
.hero {
  padding: 32px 0 0px;
  align-items: center;
  justify-content: space-between;
  gap: 170px;
}
.hero-title {
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 100%;
  color: #ffffff;
}
.hero-left-container .primary-info {
  font-size: 1rem;
  word-spacing: 0.5px;
  line-height: 1.5rem;
  margin-top: 24px;
}
.hero-right-container {
  max-width: 350px;
  height: 580px;
  flex-shrink: 0;
  position: relative;
}
.hero-image {
  width: 100%;
  height: 100%;
}
.hero-left-container .hero-buttons {
  margin-top: 24px;
  gap: 16px;
  align-items: center;
}
.hero-btn-2 {
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.hero-float-title-one {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 40px;
}
.hero-float-info-one {
  font-size: 0.8125rem;
  margin-top: 5px;
}

.hero-info-float-top {
  width: 195px;
  height: 100px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  position: absolute;
  left: 230px;
  top: 125px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.hero-info-content {
  flex-direction: column;
  width: 195px;
  height: 100px;
  border-radius: 12px;
  position: absolute;
  left: 230px;
  top: 125px;
  z-index: 1;
}
.hero-info-float-bottom {
  width: 205px;
  height: 100px;
  border-radius: 12px;
  background-color: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(4px);
  position: absolute;
  bottom: 63px;
  right: 256px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.hero-float-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e6533c;
  color: white;
}
.hero-float-container {
  flex-direction: column;
}
.hero-float-content-bottom {
  width: 205px;
  height: 100px;
  position: absolute;
  bottom: 63px;
  right: 256px;
  gap: 12px;
}
.hero-float-title-two {
  font-size: 1.5rem;
  font-weight: 900;
  word-spacing: 0.3px;
  line-height: 24px;
  color: #ffffff;
}
.hero-float-info-two {
  font-size: 1rem;
  line-height: 24px;
  word-spacing: 0.5px;
  color: rgba(239, 237, 232, 0.65);
  margin-top: 8px;
}

/* Habit section */
.habit-section {
  margin: 100px auto;
}
.habit-section-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 40px;
  justify-items: center;
  margin: 58px auto 0;
}
.habit-section-card {
  width: 200px;
}
.habit-section-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
}
.habit-card-title {
  font-size: 1.125rem;
  color: #ffffff;
  font-weight: 600;
}
/* Extra Mile Section */
.extra-mile-content {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: start;
}
.extra-mile-content .primary-btn {
  width: 50%;
}
.extra-mile-section {
  justify-content: space-between;
  align-items: center;
  padding: 32px 45px;
  border-radius: 18px;
  background-color: #222222;
  margin-bottom: 100px;
}
.extra-mile-img {
  width: 366px;
  height: 312px;
  background-image: url("../images/run1.jpg");
  background-size: cover;
  border-radius: 18px;
}
/* Trainings Section */
.trainings{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);
  margin-bottom: 88px;
}
.trainings .primary-info{
  color: #ffffff;
}

.training-img-1{
  grid-column: 1/4 span;
  grid-row: 1/6 span;
  height: 200px;
  background: linear-gradient(rgba(6, 255, 210, 0.5),rgba(6, 255, 210, 0.5)) ,url('../images/exercise1.jpg');
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 25px;
  align-items: flex-end;
}
.training-img-2{
  grid-column: 4/9 span;
  grid-row: 1/6 span;
  height: 200px;
  background: linear-gradient(rgba(255, 0, 0, 0.3),rgba(255, 0, 0, 0.3)) ,url('../images/exercise21.png');
  background-size: contain;
  background-size: 80% 100%;
  background-repeat: no-repeat;
  padding: 25px;
  align-items: flex-start;
}
.training-img-3{
  grid-column: 10/13 span;
  grid-row: 1/6 span;
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) ,url('../images/exercise3.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 25px;
  align-items: flex-end;
}
.training-img-4{
  grid-column: 1/6 span;
  grid-row: 7/13 span;
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) ,url('../images/exercise41.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 25px;
  align-items: flex-end;
}
.training-img-5{
  grid-column: 6/9 span;
  grid-row: 7/13 span;
  background: linear-gradient(rgba(66, 255, 0, 0.3),rgba(66, 255, 0, 0.3)) ,url('../images/exercise51.jpg');
  background-size: contain;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  padding: 25px;
  align-items: flex-end;
}
.training-img-6{
  grid-column: 9/13 span;
  grid-row: 7/13 span;
  /* width: 100%; */
  background: linear-gradient(rgba(0, 71, 255, 0.3),rgba(0, 71, 255, 0.3)) ,url('../images/exercise61.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 25px;
  align-items: flex-end;
}
.training-section-title-box{
  max-width: 641px;
  margin-bottom: 58px;
}

/* Calulator section*/
.calculator-section{
  background-color: #222222;
  padding-bottom: 52px;
  margin-bottom: 88px;
}
.calculator-container {
  justify-content: space-between;
}
.calculator-chart{
  max-width: 310px;
  margin-top: 52px;
}
table caption{
  margin-bottom: 52px;
}
.cal-chart-title{
  font-size: 1.75rem;
  text-align: left;
}
table,th,tr,td{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}
th,tr,td{
  height: 44px;
  width: 155px;
}
th{
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
td{
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.calculator-form{
  max-width: 577px;
  margin-top: 50px;
}
form{
  margin-top: 34px;
}
label{
  display: flex;
  width: 100%;
  gap: 12px;
}
label>*{
  width: 100%;
  margin-bottom: 12px;
}
input,select{
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}
option{
  background-color: #000000;
}
select{
  /* appearance: none; */
  color: rgba(255, 255, 255, 0.295);
}
.cal-sec-title-box{
  max-width: 650px;
  margin-bottom: 88px;
}
.calculator-form .primary-btn{
  width: 224px;
  margin-top: 22px;
}