@media screen and (min-width: 577px) and (max-width: 992px) {
}

@media screen and (max-width: 576px) {
  .nav-bar,
  .hero,
  .habit-section,
  .extra-mile-section,
  .trainings-section,
  .calculator-container,
  .cal-sec-title-box
  {
    width: 95%;
    margin: 0 auto;
  }
  .hero, 
  .extra-mile-section,
.calculator-container

  {
    flex-direction: column;
  }
  .nav-items {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  /* Hero section */
  .hero{
    gap: 50px;
  }
  .hero-title {
    font-size: 2.25rem;
  }
  .miama-font {
    font-size: 4.5rem;
  }

  .hero-btn-1::before {
    content: "Join Now!";
  }
  .hero-buttons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .hero-buttons .primary-btn{
    padding: 16px 0;
  }
  .hero-info-float-top,.hero-info-content{
    left: 188px;
    top: 48px;
}
.hero-info-float-bottom,.hero-float-content-bottom {
    bottom: 245px;
  right: 175px;
}
/* habit section */
.habit-section-cards{
    grid-template-columns: repeat(1,1fr);
}
.section-title{
    font-size: 2rem;
}
.habit-section{
    margin: 0 0 60px;
  }
  .extra-mile-section{
    gap: 30px;
    padding: 32px;
  }
  .extra-mile-content .primary-btn{
    width: 100%;
    margin-top: 10px;
  }
  .extra-mile-content{
    gap: 14px;
    max-width: 287px;
  }
  .extra-mile-img{
    width: 287px;
    height: 170px;
    background-image: url("../images/run2.jpg");
    background-size: cover;
  }
  .trainings{
    margin-bottom: 30px;
  }
  .training-img-6,.training-img-3{
    display: none;
  }
  .training-img-1{
    grid-column: 1/7 span;
    background-size: contain;
    background-size: 100% 100%;
  }
  .training-img-2{
    grid-column: 7/13;
    background-size: auto;
    background: linear-gradient(rgba(255, 0, 0, 0.3),rgba(255, 0, 0, 0.3)) ,url('../images/exercise22.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .training-img-4{
    grid-column: 1/6 span;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) ,url('../images/exercise42.png');
    /* background-size: cover; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .training-img-5{
    grid-column: 7/13 span;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .training-section-title-box{
    max-width: 381px;
    margin-top: 58px;
  }
  /* calculator section */
.cal-sec-title-box{
max-width: auto;
/* margin-bottom: 32px; */
margin: 0 auto 32px;
}
.calculator-form,
.calculator-chart{
  max-width: auto;
}
.cal-chart-title{
  font-size: 1rem;
}
.calculator-section{
  margin-bottom: 66px;
}
}