@media screen and (max-width: 576px) {
  .nav-bar,
  .hero,
  .habit-section,
  .extra-mile-section,
  .trainings-section,
  .calculator-container,
  .cal-sec-title-box,
  .team-seciton,
  .footer-section,
  .footer-rule,
  .equipment-section{
    width: 95%;
    margin: 0 auto;
  }
  .hero,
  .extra-mile-section,
  .calculator-container {
    flex-direction: column;
  }
  .nav-items {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  /* Hero section */
  .hero {
    gap: 50px;
  }
  .hero-title {
    font-size: 2.25rem;
  }
  .miama-font {
    font-size: 4.5rem;
  }

  .hero-btn-1::before {
    content: "Join Now!";
  }
  .hero-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-buttons .primary-btn {
    padding: 16px 0;
  }
  .hero-info-float-top,
  .hero-info-content {
    left: 188px;
    top: 48px;
    height: 85px;
  width: 160px;

  }
  .hero-info-float-bottom,
  .hero-float-content-bottom {
    bottom: 245px;
    right: 175px;
    height: 85px;
  width: 170px;

  }
.hero-float-title-one {
  font-size: 2rem;
}
.hero-float-info-one {
  font-size: 0.6rem;
  margin-top: 2px;
}
.hero-float-title-two {
  font-size: 1.3rem;
}
.hero-float-info-two {
  font-size: 0.8rem;
  line-height: normal;
  margin-top: 8px;

}
  /* habit section */
  .habit-section-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-title {
    font-size: 2rem;
  }
  .habit-section {
    margin: 0 auto 60px;
  }
  .extra-mile-section {
    gap: 30px;
    padding: 32px;
  }
  .extra-mile-content .primary-btn {
    width: 100%;
    margin-top: 10px;
  }
  .extra-mile-content {
    gap: 14px;
    max-width: 287px;
  }
  .extra-mile-img {
    width: 287px;
    height: 170px;
    background-image: url("../images/run2.jpg");
    background-size: cover;
  }
  .trainings {
    margin-bottom: 30px;
  }
  .training-img-6,
  .training-img-3 {
    display: none;
  }
  .training-img-1 {
    grid-column: 1/7 span;
    background-size: contain;
    background-size: 100% 100%;
  }
  .training-img-2 {
    grid-column: 7/13;
    background-size: auto;
    background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),
      url("../images/exercise22.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .training-img-4 {
    grid-column: 1/6 span;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/exercise42.png");
    /* background-size: cover; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .training-img-5 {
    grid-column: 7/13 span;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .training-section-title-box {
    max-width: 381px;
    margin-top: 58px;
  }
  /* calculator section */
  .cal-sec-title-box {
    max-width: auto;
    /* margin-bottom: 32px; */
    margin: 0 auto 32px;
  }
  .calculator-form,
  .calculator-chart {
    max-width: auto;
  }
  .cal-chart-title {
    font-size: 1.2rem;
  }
  .calculator-section {
    margin-bottom: 66px;
  }
  /* team section */
  .team-seciton {
    margin-bottom: 66px;
  }
  .team-members {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .team-mem-img-5 {
    grid-row: 2/3;
  }

  .team-mem-img-1,
  .team-mem-img-4 {
    display: none;
  }
  .footer-section{
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
  }
.footer-rule{
  margin-bottom: 36px;
}
.equipment-section{
  flex-direction: column;
  gap: 36px;
  margin-bottom: 66px;
  margin-top: 66px;
}
.eqp-img-2{
  bottom: 180px;
  left: 110px;
}
.eqp-img{
  width: 250px;
  height: 350px;
}

}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav-bar,
  .hero,
  .habit-section,
  .extra-mile-section,
  .trainings-section,
  .calculator-container,
  .cal-sec-title-box,
  .team-seciton,
  .footer-section,
  .footer-rule,
  .equipment-section{
    width: 90%;
    margin: 0 auto;
  }
  .hero,
  .calculator-container {
    flex-direction: column;
  }
  .hero {
    gap: 50px;
    margin-top: 60px;
  }
  .hero .primary-info{
    max-width: 600px;
  }
.habit-section-cards {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 66px;
}
.section-title-box {
  max-width: 510px;
  margin: 0 auto;
  margin-top: 60px;
}
.extra-mile-content {
  max-width: 263px;
gap: 5px;
}
.extra-mile-content .primary-btn{
  margin-top: 30px;
  width: 80%;
}
.section-title{
  font-size: 2.25rem;
}
.extra-mile-img {
  width: 256px;
  height: 320px;
  background-position: center center;
}

.training-section-title-box{
  margin-top: 66px;
}
.cal-sec-title-box{
  margin: 66px auto;
}
.cal-sec-title-box .primary-info{
  max-width: 595px;
}
.cal-chart-title{
  font-size: 1.75rem;
}
.calculator-form{
  max-width: 100%;
}
.team-mem-img-4{
  background-size: 150% 100%;
}
.team-members{
  margin-bottom: 66px;
}
.footer-section{
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 152px;
}
.footer-left{
  max-width: 100%;
  margin-right: 40%;
}
.footer-rule{
  margin: 71px auto 41px;
}
.equipment-section{
  flex-direction: column;
  /* align-items: center; */
  gap: 30px;
}
.eqp-img{
  width: 450px;
  height: 570px;
}
}